<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Contrato de Compromisso de Pagamento</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Pacifico&family=Yellowtail&display=swap"
        rel="stylesheet">

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 40px;
      line-height: 1.5;
    }

    p, div, td {
      text-align: justify;
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    td, th {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }

    .signature-block {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
    }

    .signature {
      width: 45%;
      text-align: center;
    }

    .signature-name {
      font-family: "Yellowtail", cursive;
      font-size: 1em;
      line-height: 1;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>

<h1>Contrato de Compromisso de Pagamento</h1>
<br>
<h3>PARTES CONTRATANTES</h3>
<p><strong>CREDOR:</strong><br>
  {{church.name}}<br>
  {{church.address}}<br>
  {{church.taxId}}<br>
  Representada legalmente por: {{church.legalRepresentative.name}} ({{church.legalRepresentative.role}})
</p>

<p><strong>DEVEDOR:</strong><br>
  {{debtor.name}}<br>
  Documento de Identidade: {{debtor.dni}}<br>
  Endereço: {{debtor.address}}<br>
  Telefone: {{debtor.phone}}<br>
  E-mail: {{debtor.email}}
</p>

<h2>CLÁUSULAS CONTRATUAIS</h2>

<p><strong>PRIMEIRA - OBJETO DO CONTRATO</strong><br>
  Por meio do presente instrumento particular, o DEVEDOR reconhece expressamente assumir o compromisso de pagamento
  referente a:
  {{concept}} pela quantia de {{amountLiteral}} ({{symbol}} {{amount}}), valor que deverá ser quitado em sua totalidade
  conforme estabelecido no presente contrato.
</p>

<p><strong>SEGUNDA - MODALIDADE DE PAGAMENTO</strong><br>
  O DEVEDOR compromete-se a pagar a totalidade do compromisso descrito na primeira cláusula
  em {{installments.length}} {{#ifEquals installments.length 1}}
    parcela única{{else}}parcelas{{/ifEquals}}, de acordo com o seguinte detalhamento:
</p>

<table>
  <thead>
  <tr>
    <th>N° Parcela</th>
    <th>Valor</th>
    <th>Data de Vencimento</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each installments}}
    <tr>
      <td>{{inc @index}}</td>
      <td>{{symbol}} {{amount}}</td>
      <td>{{dueDate}}</td>
      <td>{{status}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<p><strong>TERCEIRA - LOCAL E FORMA DE PAGAMENTO</strong><br>
  O pagamento deverá ser realizado em dinheiro nas instalações de {{church.name}} localizadas em {{church.address}},
  ou mediante depósito/transferência para a conta bancária:<br><br>
  Banco: {{bank.name}}<br>
  Titular: {{church.name}}<br>
  Número da conta: {{bank.accountNumber}}<br>
  Tipo de conta: {{bank.accountType}}
</p>
<p>
  {{instantPayment}}
</p>
<p><strong>QUARTA - DECLARAÇÃO DE CONSENTIMENTO</strong><br>
  O DEVEDOR declara que assume esta obrigação de maneira livre, voluntária e sem qualquer coação, encontrando-se em
  pleno
  uso de suas faculdades mentais e com pleno conhecimento das implicações legais que este compromisso acarreta.
</p>


<p>Em sinal de conformidade, as partes assinam o presente documento em duas vias, aos {{day}} dias do mês
  de {{month}} do ano de 2025.</p>

<br>

<div class="signature-block">
  <div class="signature">
    {{church.legalRepresentative.role}}:<span class="signature-name">{{church.legalRepresentative.name}}</span><br>
    CPF: {{debtor.dni}}
  </div>
  <div class="signature">
    <span class="signature-name">{{debtor.name}}</span><br>
    CPF: {{debtor.dni}}
  </div>
</div>

</body>
</html>